<div class="grid v-align-middle <%= 'active' if is_current %>">
   <span class="is-medium-heading m-1 inspiration">
    <%= character_fight.initiative %>
  </span>
  <div class="m-1 column">
    <span class="is-small-heading mb-0">
      <%= character_fight.character.name %>
    </span>
    <%= character_fight.character.details %>
  </div>
</div>
