<div class="grid h-100">
  <div class="main-section h-100 column is-two-thirds grid is-vertical flex-space-between">
    <div class="column is-shrink">
      <% @characters.each do |character| %>
          <%= render character %>
      <% end %>
    </div>
    <div class="column is-shrink grid flex-space-between">
      <%= button_to @character, method: :delete, class: 'button is-rounded is-shrink' do %>
        <i class="iconoir-plus-circle me-1"></i> Ajouter un personnage
      <% end %>

      <%= button_to @character, method: :delete, class: 'button is-primary is-rounded is-shrink' do %>
        <i class="iconoir-arrow-right me-1"></i> Tour suivant
      <% end %>

    </div>
  </div>
  <div class="column h-100 p-0"><img id="character-image" src="https://cdna.artstation.com/p/assets/images/images/030/594/622/large/art-of-nate-halfelf-bigfile.jpg?1601059833" /></div>
</div>