/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.main-section {
    background-color: #E6E6E6;
    padding: 20px;
}

.p-0 {
    padding: 0px !important;
}

html, body, main {
    height: 100%;
}

.h-100 {
    height: 100%;
}

.v-align-middle {
    vertical-align: middle;
}

.flex-grow {
    flex-grow: 1;
}

#character-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.flex-space-between {
    justify-content: space-between;
}

.m-1 {
    margin: 0.25em;
}

.me-1 {
    margin-right: 0.25em;
}