<h1 class="m-1"><i class="iconoir-hexagon-dice has-text-primary"></i> Initiative Tracker</h1>

<div class="tabs is-primary mb-4">
  <ul class="tabs__list has-centered">
    <%= create_tab_link t('.fights'), :fights %>
    <%= create_tab_link t('.characters'), :characters %>
  </ul>
</div>