<div class="column is-half is-offset-3 center-content grid">
  <div class="panel is-relative">
    <h1><i class="iconoir-hexagon-dice has-text-primary"></i> Entrez le code</h1>
    <%= link_to :login, id: "lock-login" do %>
      <i class="iconoir-lock v-align-middle"></i>
    <% end %>
    <p>Renseignez le code transmis par votre MJ afin d'accéder au suivi de jeu</p>
      <%= form_with url: :validate_code do |form| %>
        <%= form.text_field :code, required: true, placeholder: 'ABCDE' %>
        <div class="has-text-center mt-2">
            <%= button_tag type: "submit", class: "button is-rounded is-primary is-shrink" do %>
              Accéder au combat
            <% end %>
        </div>
    <% end %>
  </div>
</div>